@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
}
.mycontainer {
  width: 60%;
}
.dynamic-text,
.static-text {
  font-size: 6rem;
  font-weight: 600;
  display: inline-block;
}
.static-text {
  margin-right: 20px;
  color: #ca3333;
}
.section {
 height: 100vh;
 width: 100vw;
 overflow: hidden;
 display: flex;
 flex-wrap: wrap;
}
.section .blocks {
    position:  relative;
    display: block;
    width: 5vw;
    height: 5vw;
    animation: AnimateBg 0.5s ease-in-out forwards;
}

@keyframes AnimateBg {
    0% {
        transform: translateY(2000px);
        background: url("https://legoman8304.github.io/assets/images/picture.jpg") no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 0 5 15px rgba(0,0,0,0.5);
    }
    100% {
        transform: translateY(0px);
        background: url('../images/picture.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.clickme {
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid #ca3333;
  color: transparent;
  padding: 20px 100px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
  top: 10vh;
}
.clickme:before {
  border-radius: 20px;
  content: "Click Me!";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #ca3333;
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
.clickme:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
.clickme:after {
  border-radius: 20px;
  content: "Click Me!";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ca3333;
  background: white;
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
.clickme:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}
.mycard {
    text-align: center;
    padding: 20px;
  width: 25%;
  height: 40%;
  position: absolute;
  top: 130%;
  left: 38%;
  animation: fadein 2s ease-in-out forwards;
  border-radius: 30px;
  background-color: rgb(214, 214, 214);
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heart {
    font-size: 4rem;
    color: red;
}
.quote {
    font-size: 1.5rem;
    color: white;
}
<<<<<<< HEAD
.animation-area {
	background: #ca3333;
	width: 100%;
	height: 100vh;
}
.box-area {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: relative;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	color: rgba(255, 255, 255, 0.2);
    font-size: 150px;
	animation: animate 20s linear infinite;
	bottom: -250px;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
.celebrate {
    text-align: center;
    display: block;
    position: absolute;
    top: 250%;
    left: 40%;
    z-index: 10;
    color: white;
    font-size: 60px;
}
=======
>>>>>>> 7a4b2a1779e68970688cdf2975857c9f4777a8ce
